// ==========================================================================
// Grid System
// ==========================================================================

.container {
  @include container;
}

.container-fluid {
  width: 100%;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($grid-gutter / 2);
  margin-left: -($grid-gutter / 2);
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: $grid-gutter / 2;
  padding-left: $grid-gutter / 2;
}

// Generate column classes
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 percentage($i / $grid-columns);
    max-width: percentage($i / $grid-columns);
    padding-right: $grid-gutter / 2;
    padding-left: $grid-gutter / 2;
  }
}

// Responsive columns
@each $breakpoint, $value in $breakpoints {
  @if $breakpoint != 'xs' and $value > 0 {
    @include media-up($breakpoint) {
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          flex: 0 0 percentage($i / $grid-columns);
          max-width: percentage($i / $grid-columns);
          padding-right: $grid-gutter / 2;
          padding-left: $grid-gutter / 2;
        }
      }
    }
  }
}

// Utilities
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

// Responsive display utilities
@each $breakpoint, $value in $breakpoints {
  @if $breakpoint != 'xs' and $value > 0 {
    @include media-up($breakpoint) {
      .d-#{$breakpoint}-none {
        display: none !important;
      }

      .d-#{$breakpoint}-block {
        display: block !important;
      }

      .d-#{$breakpoint}-flex {
        display: flex !important;
      }

      .d-#{$breakpoint}-grid {
        display: grid !important;
      }
    }
  }
}

// Flex utilities
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

// Spacing utilities
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in (
    0: 0,
    1: $spacing-xs,
    2: $spacing-sm,
    3: $spacing-md,
    4: $spacing-lg,
    5: $spacing-xl
  ) {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}t-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size} {
      #{$prop}-left: $length !important;
    }
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
      #{$prop}-bottom: $length !important;
    }
  }
}
